.commentaries-main-container{
    background-color: white;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    max-width: 380px;
  }
  
  .current-comment-ctn {
    display: flex;
    gap: 15px;
  }
  
  .comment-content-text {
    margin: 8px 0 0 0; 
    color: #9597A1;
    font-size: 12px;
  }
  
  .comment-content {
    background-color: #f4f5f6;
    padding: 15px;
    border-radius: 10px;
  }
  
  .comment-user-username {
    font-weight: 600;
    color: #06081F;
    font-size: 16px;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  .comment-user-profile-pic {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .comment-meta {
    display: flex;
    gap: 15px;
    margin: 15px 0;
    align-items: center;
  }
  
  .comment-reply-btn {
    font-size: 12.5px;
    text-decoration: none;
    color: #9597A1;
  }
  
  .comment-meta span {
    font-size: 12.5px;
    color: #9597A1;
  }
  
  .other-comments {
    margin: 15px 0 0 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .secondary-reply {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .reply-user-profile-pic{
    min-width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .show-more-replies {
    color: #5CE1E6;
    font-size: 12px;
    font-weight: 600;
  }
  
  .reply-user-username {
    font-weight: 600;
    font-size: 13px;
  }
  
  .reply-user-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; 
    display: inline-block;
    font-size: 12.5px;
    color: #9597A1;
  }
  
  