.main-header {
    background-color: #fff;
    padding: 20px 40px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    font-family: poppins;
}

.main-logo {
    max-width: 175px;
}

.main-header-icons{
    display: flex;
    gap: 25px;
}

.main-header-icons a  {
    cursor: pointer;
    font-size: 18px;
    color: #64748B;
    transition: color .5s;
    text-decoration: none;
    position: relative;
}

.counter {
    font-size: 8px;
    background-color: #EF4444;
    color: #fff;
    min-height: 15px;
    min-width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -8px;
}

.main-header-icons a:hover, 
.main-header-icons a:active {
    color: #06081F;
}

@media (max-width: 480px){
    .main-header {
        padding: 20px 20px 20px 0;
    }
    .main-logo {
        max-width: 145px;
    }
    .main-header-icons{
        gap: 20px;
    }
}