.profile-popup-container {
    position: absolute;
    top: 50px;
    right: 0;
    width: 318px;
}

.profile-container, .profile-popup-container  {
    background-color: white;
    z-index: 200;
    display: grid;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.featured-profile {
    position: relative;
}

.profile-pic {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
}

.data-profile {
    padding: 40px 10px 30px 10px;
    display: grid;
}

.profile-username {
    font-size: 18px;
    color: #06081F!important;
    text-decoration: none;
}

.number-parches {
    font-size: 15px;
    color: #5CE1E6;
}

.profile-btn {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.profile-alt-btn {
    border: 2px solid #F2F2F2;
    border-radius: 35px;
    padding: 5px 15px;
    color: #9597A1;
    text-decoration: none;
    font-size: 14px!important;
}

.profile-action-btn {
    border-radius: 35px;
    color: white!important;
    background-color: #06081F;
    text-decoration: none;
    border: none;
    line-height: 1.5;  
    padding: 7px 25px;  
    font-size: 14px!important;
    transition: ease-in 0.2s;
    display: inline-block;  
    text-align: center; 
    cursor: pointer; 
}

.profile-action-btn:hover {
    background-color: #8338EC;
}


.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: white;
    z-index: 2;
}
